* {
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 10%;
}
body {
  background-color: rgb(173, 211, 226);
}
.body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
h1 {
  font-family: "Quicksand", sans-serif;
  color: #086299;
  margin-left: 20px;
  margin-bottom: 20px;
}
p {
  margin-left: 50px !important;
}
p,
h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  color: #777;
  margin-left: 30px;
  margin-bottom: 15px;
}
ul {
  margin-bottom: 10px;
}
ul li {
  font-family: "Open Sans", sans-serif;
  color: #777;
  margin-bottom: 5px;
}
.aboutme {
  margin: 10px;
}
.smart {
  margin-bottom: 50px;
}
.Chatbot {
  margin-bottom: 50px;
}
.contact {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}
button {
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  background-color: #086299;
}
a {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
}
.sidebar {
  position: sticky;
  width: 20%;
  background-color: tomato;
}
.sidebar_skills {
  text-decoration: none;
  list-style-type: none;
}
.photo img {
  width: 50%;
  border-radius: 50%;
}
